Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a="Hello World"
b=[1,2,3,4,5,"Hi"]
c=4.23
d=(9,8,7)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [30]:
a=10
b=2
# (i) / Division Operator - Use to perform division.
print(a / b)
# (ii) % Modulus Operator - Use to find out remainder.
print(a % b)
# (iii) // Floor division Operator - Use to perform Floor division.
print(a//b)
# (iii) ** Exponentiation Operator - Use to find out power of operand.
print(a ** b)

5.0
0
5
100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l=[5,66,'jayant','hi',3.44,3+7j,7,8,9,66]
for i in l:
  print(i,type(i))

5 <class 'int'>
66 <class 'int'>
jayant <class 'str'>
hi <class 'str'>
3.44 <class 'float'>
(3+7j) <class 'complex'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
66 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
A=18
B=3
t=0
while(A>0):
  A-=B
  t=t+1
if(A==0):
  print("A is purely divisible by number B by "+str(t)+" times.")
else:
  print("A is not purely divisible by number B.")

A is purely divisible by number B by 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [25]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
  if(i%3==0):
    print(str(i)+" element is divisible by 3")
  else:
    print(str(i)+" is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 element is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 element is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 element is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 element is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 element is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 element is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 element is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 element is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [29]:
# Mutable data types can be modified after creation.
a=[1,2,3,4,5]
print(a) # before change
a[0]=100
print(a) # after change

# Immutable data types can not be modified after creation.
b="You are awesome"
print(b) # before change
b[0]='s'

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
You are awesome

TypeError: ignored